---
title: Behandeling
layout: src/templates/layouts/base.hbs
intro: src/templates/markdown/treatment.tandartsgooi.md
bleken: src/templates/markdown/bleken.treatment.tandartsgooi.md
facings: src/templates/markdown/facings.treatment.tandartsgooi.md
frisseadem: src/templates/markdown/frisseadem.treatment.tandartsgooi.md
implantologie: src/templates/markdown/implantologie.treatment.tandartsgooi.md
kronen: src/templates/markdown/kronen.treatment.tandartsgooi.md
kunstgebit: src/templates/markdown/kunstgebit.treatment.tandartsgooi.md
mondhygiene: src/templates/markdown/mondhygiene.treatment.tandartsgooi.md
paro: src/templates/markdown/paro.treatment.tandartsgooi.md
vullingen: src/templates/markdown/vullingen.treatment.tandartsgooi.md
---
<section class="">
    <div class="">
        <div class="">
            <div style="height:150px;background-color:#95a5a6"></div>
        </div>
    </div>
</section>

<div class="hr" style="text-align: center; margin-top:50px; display:none;">
    <div 
        class="line  line-left"
        data-2-bottom="@data-v:0" 
        data-80-center="@data-v:1" 
        data-v="1" 
        style="transform: scale(1, 1);"
        >
    </div>
    <div 
        class="inline-svg draw skrollable skrollable-after" 
        data-width="79" 
        data-height="27" 
        data-src="http://gardenstudio.com.br/img/ornamento-small.svg" 
        data-27-bottom="@data-v:0" 
        data-80-center="@data-v:1" 
        data-v="1" 
        style="display: inline-block; vertical-align: middle; line-height: 0; width: 79px; height: 27px;"
        >
        <svg height="27" version="1.1" width="79" xmlns="http://www.w3.org/2000/svg"><desc>Created with Snap</desc><defs></defs>
        <!--?xml version="1.0" encoding="utf-8"?-->
    <!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->

        <svg 
            version="1.1" 
            id="Layer_2" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            x="0px" y="0px" width="79" height="27" viewBox="0 0 78.2 26.4" 
            enable-background="new 0 0 78.2 26.4" xml:space="preserve"
            >
            <path 
                fill="none" 
                stroke="#333" 
                stroke-width="2" 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                stroke-miterlimit="10" 
                d="M57.3,13.1c-3.2,10.4,10.4,16.1,16.8,8.7c7.1-8.2,0.6-17.8-7-20.1c-19.6-5.2-31.9,18-49,23.1C9.3,27.5-1.7,20.4,1.6,9.8c3.8-12.4,23.3-9,19.3,4" data-length="166.65574645996094" style="stroke-dasharray: 166.65574645996094px, 166.65574645996094px;">
            </path>
            <desc>Created with Snap</desc><defs></defs></svg>
        </svg>
    </div>
    <div 
        class="line  line-right"
        data-2-bottom="@data-v:0" data-80-center="@data-v:1" 
        data-v="1" style="transform: scale(1, 1);"></div>
    </div>

<section id="behandelingen_section" class="container content-section">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            {{md intro}}
            <div id="treatment-menu">
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li class="page-scroll"><a href="#bleken">BLEKEN</a></li>
                        <li class="page-scroll"><a href="#facings">FACINGS</a></li>
                        <li class="page-scroll"><a href="#frisse-adem">FRISSE ADEM</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li class="page-scroll"><a href="#implantologie">IMPLANTOLOGIE</a></li>
                        <li class="page-scroll"><a href="#kronen-en-bruggen">KRONEN EN BRUGGEN</a></li>
                        <li class="page-scroll"><a href="#kunstgebit">KUNSTGEBIT</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li class="page-scroll"><a href="#mondhygiene">MONDHYGIENE</a></li>
                        <li class="page-scroll"><a href="#parodontologie">PARODONTOLOGIE</a></li>
                        <li class="page-scroll"><a href="#vullingen">VULLINGEN</a></li>
                    </ul>
                </div>
            </div>
            <br>
            <nav style="display:none">
                <ul>
                    <li class="page-scroll"><a href="#bleken">BLEKEN</a></li>
                    <li class="page-scroll"><a href="#facings">FACINGS</a></li>
                    <li class="page-scroll"><a href="#frisse-adem">FRISSE ADEM</a></li>
                    <li class="page-scroll"><a href="#implantologie">IMPLANTOLOGIE</a></li>
                    <li class="page-scroll"><a href="#kronen-en-bruggen">KRONEN EN BRUGGEN</a></li>
                    <li class="page-scroll"><a href="#kunstgebit">KUNSTGEBIT</a></li>
                    <li class="page-scroll"><a href="#mondhygiene">MONDHYGIENE</a></li>
                    <li class="page-scroll"><a href="#parodontologie">PARODONTOLOGIE</a></li>
                    <li class="page-scroll"><a href="#vullingen">VULLINGEN</a></li>
                </ul>
            </nav>
            <hr>
            <div class="treatment">
                {{md bleken }}
            </div>
            <hr>
            <div class="treatment">
                {{md facings}}
            </div>
            <hr>
            <div class="treatment">
                {{md frisseadem}}
            </div>
            <hr>
            <div class="treatment">
                {{md implantologie}}
            </div>
            <hr>
            <div class="treatment">
                {{md kronen}}
            </div>
            <hr>
            <div class="treatment">
                {{md kunstgebit}}
            </div>
            <hr>
            <div class="treatment">
                {{md mondhygiene}}
            </div>
            <hr>
            <div class="treatment">
                {{md paro}}
            </div>
            <hr>
            <div class="treatment">
                {{md vullingen}}
            </div>
            <hr>
        </div>
    </div>
</section>

<script src="http://gardenstudio.com.br/js/vendor/inline-svg.js"></script>
<script src="http://gardenstudio.com.br/js/vendor/snap.svg-min.js"></script>