---
title: Home
layout: src/templates/layouts/base.hbs
content: src/templates/markdown/welcome_tandartsgooi.md
---
<section class="intro">
    <div class="intro-body">
        <div class="container">
            <div id="hero-section" class="row">
                <div class="col-md-12">
                    <div class="col-md-8">
                        <h1 id="brandname" class="intro-text">
                            <div>Tand</div><div>heelkundig</div> <br>Centrum 't Gooi.
                        </h1>
                        <p class="intro-text">{{ slogan }}</p>
                        <p class="page-scroll">
                            <a href="#about" class="btn btn-default btn-lg" role="button">Maak een afspraak</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="opening-times col-md-4">
                        <!-- <h3>Behandeltijden</h3> -->
                        <!-- <br> -->
                        <p>Maandag t/m vrijdag:</p>
                        <p>
                            <time itemprop="openingHours" datetime="">
                            <span class='hours'><b>{{ behandel-open }} - {{ behandel-close }}</b></span> uur
                            </time>
                        </p>
                        <!-- <br> -->
                        <p>Telefonisch afspraken maken:</p>
                        <p><b>{{ tel-open }} - {{ tel-close }}</b> uur.</p>
                        <br>
                        <!-- <br> -->
                        <div itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                            <p> 
                                <span itemprop="street-address">{{ street-address }}</span>,<br>
                                <span itemprop="postalCode">{{ postalCode }}</span>,
                                <span itemprop="locality">{{ locality }}</span>
                            </p>
                            <p><span><i class="fa fa-phone"></i> {{ tel }}</span></p>
                            <br>
                            <br>
                            <p class="page-scroll"><a href="#map-canvas">Op de kaart</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center scroll-button">
                <div class="page-scroll">
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="container content-section">
    <div class="row bordered">
        <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
          {{md content }}
        </div>
    </div>
</section>

<section id="testimonials" class="container content-section ">
    <div class="">
        <div class="">
            <div class="col-xs-12 col-md-12 col-lg-6 col-lg-offset-3">
                <h2>Wat anderen zeggen</h2>                
                <hr>
                <div class="row">
                    <div class="col-xs-8 col-md-8 col-lg-8">
                        <p>
                            {{testimonials.first.quote}}
                            <br><br>
                            <small>{{testimonials.first.name}} - <em>{{testimonials.first.treatment}}</em></small>
                        </p>
                    </div>
                    <div class="col-xs-4 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-1">
                        <img src="{{testimonials.first.thumbnail}}">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-4 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-1">
                        <img src="{{testimonials.second.thumbnail}}">
                    </div>                    
                    <div class="col-xs-8 col-md-8 col-lg-8 col-lg-offset-1">
                         <p>
                            {{testimonials.second.quote}}
                            <br><br>
                            <small>{{testimonials.second.name}} - <em>{{testimonials.second.treatment}}</em></small>
                        </p>
                    </div>

                </div>
                <hr>
            </div>

        </div>
    </div>
</section>
